@media only screen and (min-width:1200px) and (max-width:1400px){.menu-category-icon i{padding:28px 15px}.main-nav>ul>li{padding:28px 15px}.has-child-menu span{right:14px}.home-two-header-menu .has-child-menu:after{right:-4px;top:24px}.home-three-hero-slide-content-wrap .slick-dots{bottom:-128px}.single-home-three-hero-content h1{font-size:56px}.single-home-one-favorite-slide .owl-nav .owl-prev,.single-home-one-favorite-slide .owl-nav .owl-next{left:-10px}.single-home-one-favorite-slide .owl-nav .owl-next{right:-10px;left:auto}.single-home-one-hero-content h1{font-size:40px}.home-one-hero-padding{padding-left:76px}.single-home-one-hero-img .home-one-hero-slide-shape{top:58px;right:-37px}}@media only screen and (min-width:992px) and (max-width:1200px){.main-nav>ul>li{padding:28px 13px}.has-child-menu span{right:9px;top:14px;height:18px;width:18px;font-size:10px;line-height:19px}.main-nav>ul>li>a{font-size:14px}.menu-category-icon{display:none}.home-two-header-menu .has-child-menu:after{right:-6px;top:24px}.home-three-hero-slide-content-wrap .slick-dots{bottom:-89px}.single-home-three-hero-content h1{font-size:47px}.shop-two-showing{text-align:center}.error-content h4{font-size:90px;margin-bottom:10px}.quantity .minus,.quantity .plus,.quantity .input-text.qty{width:50px}.home-two-deal-type-two-content h4{font-size:15px}.home-two-blog-content h4{font-size:15px}.home-two-blog-content p{font-size:12px}.flash-light-box-wrap .flash-light-content-wrap h3{font-size:20px}.home-one-offer-product-area-padding{padding:0}.single-home-one-favorite-slide .owl-nav .owl-prev,.single-home-one-favorite-slide .owl-nav .owl-next{display:none}.single-home-one-favorite-slide .owl-nav .owl-next{display:none}.testimonial-wrap .owl-nav{display:none}.single-home-one-hero-content h1{font-size:30px}.home-one-hero-area{padding-top:50px}.home-one-hero-padding{padding-left:12px}.single-home-one-hero-img .home-one-hero-slide-shape{top:60px;right:-29px}.single-home-three-hero-img .home-three-hero-slide-shape{width:62%}}@media only screen and (min-width:768px) and (max-width:991px){.error-content h4{font-size:80px}.flash-light-box-wrap .flash-light-content-wrap h3{font-size:16px;padding:9px 20px}.home-one-best-product-list-wrap .nav-link{font-size:12px;margin:0 23px 0 0}.nlmPopupWindow{max-width:654px}.newsletter-content-wrap{padding:16px}a#btnClose{left:18px;top:6px}}@media only screen and (max-width:767px){.mobile-mt-50{margin-top:50px}.mobile-mt-24{margin-top:24px}.single-home-three-hero-content h1{font-size:40px}.category-title h3{font-size:20px}.category-title a{font-size:14px}.single-widget .footer-title h4{font-size:15px}.shop-two-showing li:first-child{padding-top:0}.shop-two-showing li{padding-top:14px}.pagination-wrap li{margin-bottom:15px}.shop-img-deails-wrap .nav-link{margin:0 10px 10px 0}.shop-details-add-cart-wrap{display:inline-block}.shop-details-add-cart-wrap .cart-button-wrap .cart-btn{margin:20px 0}.error-content h4{font-size:70px}.cart-product-details-wrap-responsive thead{display:none}.cart-product-details-wrap-responsive td{display:block}.cart-product-details-wrap-responsive tbody{border-top:1px solid #f4f4f4}.cart-product-details-wrap-responsive tr{display:inline;text-align:center}.cart-product-details-wrap-responsive th:first-child{text-align:center}.cart-product-details-wrap-responsive th:before{display:none}.checkout-product-details-wrap th{font-size:15px}.update-cart-content-wrap .update-cart-content-btn{padding:15px 11px;font-size:12px}.today-deal-count li span{font-size:13px}.flash-light-box-wrap .flash-light-content-wrap h3{font-size:12px;padding:5px 10px}.home-one-featured-area{overflow-x:hidden}.home-one-best-product-list-wrap .nav-link{font-size:12px;margin:0 7px 0 0}.newsletter-img-wrap{text-align:center}.newsletter-content-wrap{padding:40px}a#btnClose{left:40px;top:9px}.search-bar-wrap .search-bar-content{width:90%}.single-home-one-hero-content h1{font-size:25px}.home-one-hero-area{padding-top:50px}.home-one-hero-area .home-three-hero-slide-content-wrap{padding:30px 10px 75px}.single-home-three-hero-img .home-three-hero-slide-shape{right:18px;top:41px;width:62%}}@media only screen and (min-width:480px) and (max-width:767px){.home-two-deal-type-two-content h4{font-size:15px}.home-one-best-product-list-wrap .nav-link{font-size:12px;margin:0 15px 0 0}.nlmPopupWindow{max-width:423px}}@media only screen and (max-width:991px){.both-small-50{margin-top:50px}.both-small-24{margin-top:24px}.mobile-ham-logo{margin-left:8px;display:unset;align-items:unset;height:unset;text-align:center}.main-nav,.menu-btn-wrap{display:unset;align-items:unset;height:unset}.menu-btn{margin-left:16px}.sticky{padding:27px 0}.sticky .hamburger{margin-top:0!important}.sticky .logo{margin-top:1px}.header-menu-area{padding:20px 1px;padding-right:0}.logo{justify-content:start}.menu-right-item li{padding:0 6px}.menu-right-item i span{top:-5px;height:17px;width:17px;font-size:10px;right:-10px;line-height:17px}.home-three-hero-slide-content-wrap{padding:75px 10px}.home-three-hero-slide-content-wrap .slick-dots{left:50%;transform:translateX(-50%);bottom:25px}.copy-right-social{text-align:center;margin-bottom:24px}.copy-right-contend p{text-align:center}.location-map iframe{height:300px}.quantity .minus,.quantity .plus,.quantity .input-text.qty{width:40px}.single-cart-product-box .single-cart-img p{font-size:12px;padding-left:6px}.single-cart-img img{width:100%;max-width:60px}.home-two-menu-top-cta .menu-top-login-wrap{text-align:center}.menu-shipping{text-align:center}.home-two-menu-top-cta .menu-shipping p{margin-bottom:6px}.home-two-hero-content-wrap{text-align:center}.home-two-hero-slide-wrap{padding-bottom:140px}.home-two-hero-slide-wrap .owl-nav button{height:40px;width:40px;font-size:17px}.home-two-hero-content-wrap h3{font-size:26px;line-height:35px}.today-deal-count ul,.deal-tab-list-wrap .nav{justify-content:center}.today-deal-count li:first-child{margin-left:0}.home-two-blog-content h4{font-size:14px}.home-two-blog-content p{font-size:11px}.home-one-best-product-list-wrap .nav{justify-content:start}.home-one-offer-product-area-padding{padding:0}.home-one-best-product-area-top{padding:0 0 5px}.home-one-best-product-list-wrap .nav-link.active:before,.home-one-best-product-list-wrap .nav-pills .show>.nav-link:before{bottom:-9px}.home-one-best-product-see-all a{font-size:12px}.home-one-best-product-see-all a i{font-size:12px;margin-left:2px}.home-one-best-product-title h3{font-size:27px;margin-bottom:10px}.single-home-one-favorite-slide .owl-nav .owl-prev,.single-home-one-favorite-slide .owl-nav .owl-next{display:none}.single-home-one-favorite-slide .owl-nav .owl-next{display:none}.testimonial-wrap .owl-nav{display:none}.single-testimonial .testimonial-content p{padding:0 0}.newsletter-content-wrap .newsletter-content h2{font-size:20px}a#btnClose i{font-size:14px;height:25px;width:25px;line-height:24px}.hamburger{display:block;float:right;margin-top:10px}.main-nav>ul>li>a.active{color:#fd0053}.main-nav>ul>li:hover>a{color:#fff}.main-nav ul li .sub-menu:before{display:none}.main-nav{position:fixed;top:-4px;left:0;width:250px;padding:40px 10px;z-index:99999;height:100%;overflow:auto;background:#b9b288;border-right:1px solid #dddddd4f;-webkit-overflow-scrolling:touch;-webkit-transform:translateX(-250px);-moz-transform:translateX(-250px);-ms-transform:translateX(-250px);-o-transform:translateX(-250px);transform:translateX(-250px);-webkit-transition:-webkit-transform .3s ease-in;-moz-transition:-moz-transform .3s ease-in;-o-transition:-o-transform .3s ease-in;transition:transform .3s ease-in}.main-nav.slidenav{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0)}.main-nav>ul{float:none;padding:25px 10px}.main-nav>ul>li.has-child-menu:after{content:none}.main-nav>ul>li>a:after{content:none}.main-nav>ul>li{display:block;padding:0!important;margin-left:0}.main-nav>ul>li>a{font-size:16px;color:#fff;line-height:35px;margin:10px 0}.main-nav ul li .fl{display:block;line-height:35px}.main-nav ul li .sub-menu{position:static;min-width:200px;background:0 0;border:none;padding:5px 0 5px 20px;//filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1;visibility:visible;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-transform:none;-moz-transform:none;-ms-transform:none;-o-transform:none;transform:none;-webkit-transition:none;-moz-transition:none;-o-transition:none;transition:none;display:none}.main-nav ul li .sub-menu>li a{display:block;padding:10px 0;color:#ffffffb5;line-height:.8;font-size:14px;text-decoration:none;-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;transition:all .3s}.main-nav ul li .sub-menu>li a:hover{background:0 0;color:#cb3727}.slideInUp{visibility:visible;//filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-transition:none;-moz-transition:none;-o-transition:none;transition:none}}

/* large desktop :1366px. */
@media (min-width: 1200px) and (max-width: 1600px) {
    .home-One-blog-area.mt-100 {
        margin-bottom: 50px;
    }
    .home-two-blog-content h4 {
        font-size: 16px;
    }
    .copy-right-social {
        justify-content: center;
        display: flex;
        margin-top: 10px;
    }
    .copy-right-contend {
        display: flex;
        justify-content: center;
    }



}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .home-One-blog-area.mt-100 {
        margin-bottom: 50px;
    }
    .home-two-blog-content h4 {
        font-size: 16px;
    }
    .copy-right-social {
        justify-content: center;
        display: flex;
        margin-top: 10px;
    }
    .copy-right-contend {
        display: flex;
        justify-content: center;
    }
    .pagination-wrap {
        margin-bottom: 85px;
    }
    a#btnClose i {
        font-size: 25px;
    }




}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .home-One-blog-area.mt-100 {
        margin-bottom: 50px;
    }
    .home-two-blog-content h4 {
        font-size: 16px;
    }
    .copy-right-contend {
        display: flex;
        justify-content: center;
    }
    .copy-right-social {
        justify-content: center;
        display: flex;
        margin-top: 10px;
    }
    .pagination-wrap {
        margin-bottom: 85px;
    }
    .breadcrumb-area {
        padding-top: 130px;
    }
    .main-nav {
        background: #f2504b;
    }
    a#btnClose i {
        font-size: 25px;
    }

}

/* small mobile :320px. */
@media (max-width: 767px) {
    .main-nav {
        background: #f2504b;
    }
    .home-one-featured-area.mt-100.mb-76 {
        margin-bottom: 0;
        margin-top: 48px;
    }
    .home-two-blog-content h4 {
        font-size: 16px;
    }
    .home-One-blog-area.mt-100 {
        margin-bottom: 52px;
    }
    .copy-right-contend ul.footer-menu {
        display: flex;
        justify-content: center;
    }
    .copy-right-contend {
        display: block;
        justify-content: normal;
        text-align: center;
    }
    .copy-right-social {
        justify-content: center;
        margin-top: 10px;
        display: flex;
    }
    .single-widget .footer-title h4 {
        margin-bottom: 15px;
    }
    .breadcrumb-area {
        padding-top: 130px;
    }
    .pagination-wrap {
        margin-bottom: 85px;
    }
    .shop-details-add-cart-wrap {
        display: flex;
    }
    .cart-button-wrap {
        margin: 0 7px;
    }
    a#btnClose i {
        font-size: 25px;
    }

}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {



}




